<div class="row">
  <div class="container">
      <app-navbar></app-navbar>
  </div>
</div>


<div class="row">
    <div class="container">
        <button (click)="navigate()" class="btn btn-lg btn-primary">NavigateToAdd</button>
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/player/']" routerLinkActive="active" >Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/player/add']" routerLinkActive="active" >Add player</a>
          </li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="container">
        <router-outlet></router-outlet>
        <app-player-list></app-player-list>
    </div>
</div>
